
<h2>User Profile</h2>
<%= @user.email %><br /> 
<%= @user.name %><br />

<% @user.events.each do |e| %>
	<%= link_to e.name, event_path(e)%>
<% end %>


<div class="btn-group">
<%= link_to "Back to all events", events_path, :class => "btn"%>
</div>