<h1><%= @event.name %></h1>
<p><%= @event.date %></p>
<p><b>Event Creator: </b><%= @event.creator.name %></p>

<hr>
<p>Attendees</p>


<div class="btn-group">
<%= link_to "Back to all events", events_path, :class => "btn"%>
</div>
